@use 'sass:map';

$button-sizes: small, medium, large;
$button-color: yellowgreen;
$button-pressed-color: seagreen;

$button-paddings: (
  small: 7px 15px,
  medium: 10px 20px,
  large: 20px 30px
);
$buttons-font-sizes: (
  small: 12px,
  medium: 14px,
  large: 20px
);

@each $button-size in $button-sizes {
  button.btn-size-#{$button-size} {
    padding: map.get($button-paddings, $button-size);
    font-size: map.get($buttons-font-sizes, $button-size);
  }
}

button {
    background-color: $button-color;
    font-size: 107%;
    border: 2px solid gainsboro;
    box-shadow: 0 2px rgba(0,0,0,.3);
    transition: top .3s ease;
    color: rgba(255,255,255,.9);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    font-weight: bold;
}

button:active {
    background-color: $button-pressed-color;
    position: relative;
    top: 2px;
    box-shadow: none;
}

button[disabled] {
    filter: grayscale(1);
}