@use 'mixins';

$table-border: 3px solid gray;

div#app-description {
    min-height: 25vh;
    font-size: 20px;

    & > * {
        position: relative;
        top: 0;
        transition: top 1s ease;
    }

    img {
        cursor: pointer;
    }

    table {
        border: $table-border;

        td, th, caption {
            border: 1px solid gray;
            padding: 7px 12px;
        }

        caption {
            border: $table-border;
        }
    }
}

div#app-description-wrapper {
    @include mixins.gray-2px-border;
    position: relative;
    padding: 0;
}
