@use 'mixins';

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    max-width: 1200px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

fieldset {
    gap: 16px;
}

ul {
    list-style-type: none;
}

img {
    display: inline-block; // Needs to have the inline-block value, else will shrink if setting image src to non-existing image
}

div#app-description ul {
    list-style-type: initial;
}

input[type="url"], input[type="text"], textarea, select {
    @include mixins.gray-2px-border;
}

select {
    font-size: inherit;
}

input, div#app-description, div, select {
    padding: 10px;
}

fieldset > label {
    text-align: right;
}

input, button, div#app-description-wrapper, div#generated-markdown, fieldset, select {
    border-radius: 7px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
