@use 'sass:color';
@use 'mixins';
@use 'ui/flexbox';
@use 'ui/grid';
@use 'ui/html-list';
@use 'ui/buttons';

.toolbar, .toolbar ul {
    @include mixins.inline-flex-list;
    gap: 4px;
}

.toolbar button {
    padding: 7px 12px;
    font-size: 18px;
    background-color: seagreen;
    border-color: color.adjust(seagreen, $whiteness: 80%);
}

.edit-panel {
    box-sizing: border-box;
    background-color: gainsboro;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.active-panel {
        display: block;
    }
}

#toolbar-2 {
    @include mixins.gray-gradient-background;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#toolbar-2 > ul {
    margin-left: 10px;
}

.floating-toolbar {
    @include mixins.inline-flex-list;
    padding: 10px 20px;
    background-color: goldenrod;
    position: fixed;
}

.has-floating-toolbar {
    position: relative;
    overflow: visible !important;

    &.is-hovered::after {
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        left: -10px;
        top: 10px;
        width: calc(100% + 2*10px);
        height: calc(100% + 2*10px);
        border: 5px solid red;
    }
}

#edit-panels-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    right: 20vw;
    width: 200px;
    background-color: gainsboro;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    border: 2px solid gray;
    border-radius: 7px;
    z-index: 999;
}
