<!DOCTYPE html>
<html th:lang="${#strings.replace(#locale.toString(), '_', '-')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MarkdownGenerator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=' + ${@thymeleafHelper.getAppIconsList()}" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/js/utils.js}" type="module"></script>
    <script th:src="@{/js/i18n.js}" type="module"></script>
    <script th:src="@{/js/drag.js}" type="module"></script>
    <script th:src="@{/js/main.js}" type="module"></script>
</head>
<body>
    <script th:inline="javascript">
        if (!document.app_config) {
            document.app_config = {};
        }

        document.app_config.i18nStrings = {
            values: JSON.parse([[${i18nStrings}]]),
            tableCaption: {
                'en-US': /*[[${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildLocalizedCapitalizedStringWithoutDelimiter('en-US', 'table', ' ', 'caption')}]]*/,
                'sv-SE': /*[[${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildLocalizedCapitalizedStringWithoutDelimiter('sv-SE', 'table', 'caption')}]]*/
            },
            defaultImageAltText: {
                'en-US': /*[[${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildLocalizedCapitalizedStringWithoutDelimiter('en-US', 'image', ' ', 'text')}]]*/,
                'sv-SE': /*[[${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildLocalizedCapitalizedStringWithoutDelimiter('sv-SE', 'image', 'text')}]]*/
            }
        }
    </script>
    <ul id="first-floating-toolbar" class="toolbar floating-toolbar not-displayed">
        <li th:each="moveElementIcon: ${panels.moveElementPanel.panelIcons}"><button><span class="material-symbols-outlined" th:text="${moveElementIcon.name}"></span></button></li>
    </ul>
    <ul id="second-floating-toolbar" class="toolbar floating-toolbar not-displayed"></ul>

    <fieldset class="grid two-columns">
        <label class="has-i18n-text" data-i18n-attribute="$.text" for="app-name" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedStringWithoutDelimiter('application', 's[locale=sv-SE]', ' [locale=en-US]', 'name', ':')}"></label><input id="app-name" name="app-name" type="text">
        <label class="has-i18n-text" data-i18n-attribute="$.text" for="app-description" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedStringWithoutDelimiter('application', 's[locale=sv-SE]', ' [locale=en-US]', 'description', ':')}">Application description:</label>
        <div id="app-description-wrapper">
            <ul id="toolbar-2" class="toolbar">
                <ul th:each="toolbarSubPanel : ${T(com.eriksandsten.markdowngenerator.ui.MainToolbar).getToolbarLayout()}">
                    <li th:each="toolbarButton : ${toolbarSubPanel}">
                        <button th:class="|material-symbols-outlined action-${toolbarButton.className} has-i18n-text|" th:classappend="*{toolbarButton.canBeToggled() ? 'can-be-toggled' : ''}"
                                th:data-tag-name="*{toolbarButton.htmlTagName}" data-i18n-attribute="title" th:text="${toolbarButton.caption}" th:title="*{toolbarButton.tooltip}"></button>
                    </li>
                </ul>
            </ul>
            <div id="app-description" name="app-description" contenteditable="true">
                <p>Hello world!</p>
                <p contenteditable="true">Another paragraph...</p>
                <blockquote>This is a blockquote</blockquote>
                <p><a target="_blank" href="https://en.wikipedia.org/wiki/CSS">CSS</a> hello...</p>
            </div>
            <div id="edit-panels-container">
                <div id="a-element-edit-panel" class="edit-panel">
                    <label th:each="panelIcon: ${panels.linkPanel.panelIcons}"><span class="material-symbols-outlined" th:title="${panelIcon.title}" th:text="*{panelIcon.name}"></span>
                        <input th:id="|link-*{panelIcon.bindingAttribute.name}-input|" class="data-bind-input" th:data-bind-domain="*{panelIcon.bindingAttribute.domain}" th:data-bind-attribute="*{panelIcon.bindingAttribute.name}" type="text">
                    </label>
                    <h3>A...</h3>
                </div>
                <div id="img-element-edit-panel" class="edit-panel">
                    <label th:each="panelIcon: ${panels.imgPanel.panelIcons}"><span class="material-symbols-outlined" th:title="${panelIcon.title}" th:text="*{panelIcon.name}"></span>
                        <input th:id="|img-*{panelIcon.bindingAttribute.name}-input|" class="data-bind-input" th:data-bind-domain="*{panelIcon.bindingAttribute.domain}" th:data-bind-attribute="*{panelIcon.bindingAttribute.name}" type="text"></label>
                    <h3>IMG...</h3>
                </div>
                <div id="ul-element-edit-panel" class="edit-panel">
                    <span th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedStringWithoutDelimiter('list{2}', ' [locale=en-US]', 'style', ':')}"></span>
                    <div th:replace="html-list :: html-list('set-ul-list-style-type-list', ${listStyleTypes}, 'css', 'list-style-type', 'Hello...')"></div>
                    <h3>UL...</h3>
                </div>
                <div id="ol-element-edit-panel" class="edit-panel">
                    <span th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedStringWithoutDelimiter('list{2}', ' [locale=en-US]', 'style', ':')}"></span>
                    <div th:replace="html-list :: html-list('set-ol-list-style-type-list', ${listStyleTypes}, 'css', 'list-style-type', 'Hello...')"></div>
                    <h3>OL...</h3>
                </div>
                <div id="table-element-edit-panel" class="edit-panel">
                    <h3>TABLE...</h3>
                    <label th:each="panelIcon: ${panels.tablePanel.panelIcons}"><span class="material-symbols-outlined" th:title="${panelIcon.title}" th:text="*{panelIcon.name}"></span>
                        <input th:id="|table-*{panelIcon.bindingAttribute.name}-input|" class="data-bind-input" th:data-bind-domain="*{panelIcon.bindingAttribute.domain}" th:data-bind-attribute="*{panelIcon.bindingAttribute.name}" type="text"></label>
                    <h3>IMG...</h3>
                </div>
            </div>
        </div>

        <button id="generate-markdown" class="btn-size-large two-column-span has-i18n-text" data-i18n-attribute="$.text" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('generate', 'markdown')}"></button>
    </fieldset>
    <div id="bottom-panel" class="flexbox columns-ratio-1-1-1">
        <div class="flexbox columns-ratio-2-1 flexgap-10">
            <label class="has-i18n-text" data-i18n-attribute="$.text" for="inspect-github-user-project" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('GitHub', '-', 'user', ':')}"></label>
            <input id="github-user" name="github-user" placeholder="WaltherJr" type="text">
            <button id="fetch-github-user-repos" class="btn-size-medium has-i18n-text" data-i18n-attribute="$.text" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('fetch', 'users', 'GitHub', '-', 'repositories')}"></button>
        </div>
        <div class="flexbox columns-ratio-2-1 flexgap-10">
            <label class="has-i18n-text" data-i18n-attribute="$.text" for="inspect-github-user-project" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('selected', 'GitHub', 'project', ':')}"></label>
            <select id="github-user-repos" class="two-column-span"></select>
            <button id="inspect-github-user-project" class="btn-size-medium two-column-span has-18n-text" disabled th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('inspect', 'project', '-[locale=sv-SE]', 'dependencies')}"></button>
        </div>
        <div class="flexbox colums-ratio-2-1 flexgap-10">
            <label class="has-i18n-text" data-i18n-attribute="$.text" for="selected-language-list" th:text="${T(com.eriksandsten.markdowngenerator.utils.I18NHelper).buildCapitalizedString('chosen', 'language', ':')}"></label>
            <select id="selected-language-list" name="selected-language-list">
                <option class="has-18n-text" data-i18n-attribute="$.text" value="en-US" th:text="#{english_us}"></option>
                <option class="has-i18n-text" data-i18n-attribute="$.text" value="sv-SE" th:text="#{swedish}"></option>
            </select>
        </div>
    </div>
    <div id="generated-markdown">
    </div>
</body>
